{
	"repl-middleware":null,
	"stripParenthesis":null,
	"date":null,
	"chat":null,
	"reminder":null,
	"web":[
		{
			"actions":{"up":["ouvre","lève", "ouvrir", "lever"], "down":["baisse", "ferme", "baisser", "fermer"]},
			"keywords":{"shutters":["volets","volet"]},
			"others":{"4":["", "devant"], "3":["chambre"], "0":["salon"]},
			"url":"http://192.168.68.11/api/gpio-blaster/{action}/{other}"
		},
		{
			"keywords":{"switch":["passe", "bascule"]},
			"actions":{"15FN":["télé", "tv", "télévision", "freebox", "box"], "06FN":["pc", "ordi"], "49FN":["xbox", "console"]},
			"url":"http://192.168.68.11/api/pioneer/{action}"
		},
		{
		    "actions":{"on":["allume"], "off":["eteinds", "éteinds"]}, 
			"keywords":{"dev3999667887":["télé", "tv", "télévision"], "pioneer":["décodeur", "decodeur", "ampli"], "freebox":["freebox", "box"]},
			"url":"http://192.168.68.11/api/devices/remote/{target}/{action}"
		},
		{
		    "actions":{"on":["allume"]}, 
			"keywords":{"pc":["pc", "ordi"]},
			"url":"http://192.168.68.11/api/{target}"
		}
	],
	"learn":"./lessons.json",
	"ipc":""
}