{
	"./node_modules/repl-middleware":null,
	"./node_modules/stripParenthesis":null,
	"./node_modules/date":null,
	"./node_modules/chat":null,
	"./node_modules/utilities/question.js":null,
	"./node_modules/reminder":null,
	"./node_modules/web":[
		{
			"actions":{"up":["ouvre","lève", "ouvrir", "lever"], "down":["baisse", "ferme", "baisser", "fermer"]},
			"keywords":{"shutters":["les volets","le volet"]},
			"others":{"tous les volets":["", "de la maison"], "Volets chambre":["de la chambre"], "Voldets salon":["du salon"], "Volets Salle":["de la salle"], "Volets cuisine":["de la cuisine"]},
			"url":"http://localhost/api/device/{other}?cmd={action}"
		},
		{
			"keywords":{"switch":["passe sur", "bascule sur", "bascule vers"]},
			"actions":{"Dvr%2FBdr":["la télé", "la tv", "la télévision", "la freebox", "la box"], "Sat%2FCbl":["le pc", "l'ordi"], "Game":["la xbox", "la console"]},
			"url":"http://localhost/api/device/vsx.input?cmd={action}"
		},
		{
		    "actions":{"on":["allume"], "off":["eteins", "éteins"]}, 
			"keywords":{"tv":["la télé", "la tv", "la télévision"], "vsx":["le décodeur", "le decodeur", "l'ampli"], "freebox":["la freebox", "la box"]},
			"url":"http://localhost/api/device/{target}.power?cmd={action}"
		},
		{
		    "actions":{"on":["allume"]}, 
			"keywords":{"pc":["le pc", "l'ordi"]},
			"url":"http://localhost/api/device/{target}?cmd=on"
		}
	],
	"./node_modules/learn":"./lessons.json",
	"./node_modules/ipc":""
}